#bs-usermanager-grid-crud .x-grid-cell-username  .x-grid-cell-inner > a {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
#bs-usermanager-grid-crud .x-grid-cell-username,
#bs-usermanager-grid-crud .x-grid-cell-username .x-grid-cell-inner {
	overflow: visible;
}