.um-group-pill,
.um-disabled-pill {
	background-color: #cecece;
	padding: 0 10px;
	border-radius: 10px;
	margin: 3px 5px;
	display: inline-block;
}

.um-disabled-pill {
	background-color: #bd1d1d;
	color: white;
}

.um-password-repeat-field {
	margin-bottom: 2rem;
}

.um-form .oo-ui-fieldLayout-messages {
	font-size: 0.8rem;

	.oo-ui-messageWidget {
		margin-left: 0;
	}
}
